{% extends 'base.html' %}

{% block head %}
<title>SD Kort</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block body %}
<div class="mainmanager">
    <div class="header">
        <a id="nolink" href="">
            <div class="button">
                <h3>Refresh</h3>
            </div>
        </a>
        <div onclick="testoutput()" class="menu button">
            <h3>Menu</h3>
        </div>
    </div>

    <div id="main" class="main">
        <button id="duplicate-btn">New example</button>

        <!-- Original hidden template -->
        <div id="dupe" class="person" style="display:none">

            <div class="deliver">
                <p>Levert</p>
                <input type="checkbox" class="remove-check" name="remove">
            </div>

            <div class="user">
                <p>Bruker</p>
                <input type="text" name="user">
            </div>

            <div class="sdgroup">
                <div class="sd">
                    <p>32GB</p>
                    <input type="checkbox" name="sd32">
                </div>
                <div class="sd">
                    <p>64GB</p>
                    <input type="checkbox" name="sd64">
                </div>
                <div class="sd">
                    <p>128GB</p>
                    <input type="checkbox" name="sd128">
                </div>
            </div>

            <div class="date">
                <p>Dato</p>
                <input type="date" name="date">
            </div>

        </div>

    </div>

    <div class="footer"></div>
</div>
{% endblock %}
