{% extends 'base.html' %}

{% block head %}
<title>SD Kort</title>
<link rel="stylesheet" href="../style/Style.css">
<link rel="icon" type="image/x-icon" href="../static/img/">
{% endblock %}

{% block body %}
<div class="mainmanager">
    <div class="header">
        <a href="">
            <div class="button">
                <h3>Home</h3>
            </div>
        </a>
        <div onclick="testoutput()" class="menu, button">
            <h3>Menu</h3>
        </div>
    </div>
    <div id="main" class="main">
        <button id="duplicate-btn">New example</button>

        <div id="dupe" class="person">

            <div class="deliver">
                <p>
                    Levert
                </p>
                <input type="checkbox" class="remove-check">
            </div>
            <div class="user">
                <p>
                    Bruker
                </p>
                <input type="text">
            </div>
            <div class="sdgroup">
                <div class="sd">
                    <p>
                        32GB
                    </p>
                    <input type="checkbox">
                </div>
                <div class="sd">
                    <p>
                        64GB
                    </p>
                    <input type="checkbox">
                </div>
                <div class="sd">
                    <p>
                        128GB
                    </p>
                    <input type="checkbox">
                </div>
            </div>
            <div class="date">
                <p>
                    Dato
                </p>
                <input type="date">
            </div>
        </div>
            
    </div>
    <script type="text/template" id="code-template">
        <div class="code-block">
            <pre><code>console.log("Hello, World!");</code></pre>
            <button class="duplicate-btn">Duplicate</button>
        </div>
    </script>
    <div class="footer">

    </div>
</div>
{% endblock %}